<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <h1 class="table-caption">Операции игроков с валютами</h1>
    <table class="operations-table">
        <thead>
        <tr>
            <th>ID операции</th>
            <th>ID игрока</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="op : ${operations}">
            <td th:text="${op.id}"></td>
            <td th:text="${op.player.name}"></td>
            <td th:text="${op.amount}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/operations">Go to Relative Path</a>
</body>
</html>